@charset "UTF-8";

@font-face {
    font-family:'bebas';
    src: url('../fontes/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    
    /* VAR - CORES */ 
    --cor0: #c5ebc6;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1b;
    
    /* VAR - FONTES*/
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'bebas','cursive'; 
    --fonte-android: 'android', 'cursive';


}

*{
    margin: 0px;
    padding: 0px;
}



body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\00A0 \1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}


header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;    
    font-weight: normal;
    text-shadow: 8px 3px 6px #00000062;
}


header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-shadow: 2px 2px 6px #00000062;
}   


nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: rgb(0 0 0 / 27%) 12px 5px 5px 0px;
}


nav > a{
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition-duration: 1.2;
}


nav > a:hover{
    background-color: var(--cor4);

}

main{
    min-width: 200px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}


main  h1, h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;

    
}

main > article > h1{
    font-family: var(--fonte-android);
    color: var(--cor4);
    
}

main > article > h2{
    font-family: var(--fonte-android);
    
    
}
main h2{
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 17px;
    line-height: 2em;
}

main strong{
    color: var(--cor3);
    padding: 2px 6px;

}

main a{
    text-decoration: none;
    color: #063d1b;
    font-weight: bold;
    background-color: var(--cor1);
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}


main > article > picture >img{
    width: 100%;

}

main > article >img{
    width: 100%;

}

main > article >img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;

}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px #00000033;
}

aside  h3{
    background-color: var(--cor4);
    color: #fff;
    margin: -10px;
    padding: 7px;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    list-style-type: "\2714 \00A0 \0020";
    list-style-position: inside;
    columns: 2;

        abbr{
            text-decoration: none;
        }
    
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;

}

footer a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
}